Package: jasperreports
Version: @@VERSION@@
Section: devel
Priority: optional
Architecture: all
Depends: java-runtime-headless
Maintainer: @@PACKAGER_NAME@@ <@@PACKAGER_EMAIL@@>
Description: Java reports library
 Creates reports using specially crafted XML 
 files. For more info, see 
 http://www.jaspersoft.com
